body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2c3e50, #3498db); /* Fondo azul en degradado */
    color: #ecf0f1;
    text-align: center;
}

/* Estilos mejorados para el encabezado */
header {
    background-color: #2c3e50; /* Color de fondo más oscuro */
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

header h1 {
    margin: 0;
    font-size: 1.5em; /* Tamaño del texto del encabezado */
}

header img {
    max-width: 80px; /* Reducción del tamaño de la imagen */
    height: auto;
    margin-top: 10px;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Tamaño del texto de los enlaces */
    transition: color 0.3s;
}

header a:hover {
    color: #3498db; /* Cambia el color al pasar el mouse */
}


nav {
    background-color: #2c3e50;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

/* Estilos mejorados para el pie de página */
footer {
    background-color: #2c3e50; /* Color de fondo más oscuro */
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 16px; /* Tamaño del texto del pie de página */
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #3498db; /* Cambia el color al pasar el mouse */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer li {
    display: inline;
}


/* Estilos mejorados para la sección de índice */
main section#indice {
    text-align: center;
    padding: 50px;
    background-color: #2d2d2d; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

main section#indice ul {
    list-style: none;
    padding: 0;
}

main section#indice li {
    margin-bottom: 15px;
}

main section#indice a {
    color: #66ccff; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; /* Tamaño del texto */
    transition: color 0.3s;
}

main section#indice a:hover {
    color: #4080bf; /* Cambia el color al pasar el mouse */
}


/* Estilos mejorados para cada sección de tema */
main section {
    margin: 20px auto; /* Centra cada sección */
    max-width: 800px; /* Limita el ancho para mejorar la legibilidad */
    background-color: #2c3e50; /* Color de fondo más oscuro */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    color: #66ccff; /* Color del texto */
}

/* Estilo mejorado para los títulos de las secciones de tema */
main section h2 {
    color: #3498db; /* Color de título más atractivo */
    margin-bottom: 15px; /* Espaciado inferior para separar del contenido */
}

/* Estilo mejorado para los párrafos de las secciones de tema */
main section p {
    color: #66ccff; /* Color del texto */
    line-height: 1.6; /* Altura de línea mejorada para una mejor legibilidad */
}


/* Estilos para la sección de tarjetas (card-deck) en Tema 1 */
main section#tema-1 .card-deck {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Estilos para cada tarjeta (card) en Tema 1 */
main section#tema-1 .card {
    flex: 0 0 300px; /* Fuerza un ancho fijo de 300px para todas las tarjetas */
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden;
    background-color: #0e3052; /* Color de fondo más oscuro */ 
    transform: perspective(1000px) rotateX(20deg); 
    transition: transform 0.5s;
}

main section#tema-1 .card:hover {
    transform: perspective(1000px) rotateX(0deg); 
}

main section#tema-1 .card img {
    max-width: 100%; 
    height: auto;
}

main section#tema-1 .card-body {
    padding: 15px;
}

main section#tema-1 .card-title {
    color: #e7edf3;
    font-size: 1.5em;
    margin-bottom: 10px;
}

main section#tema-1 .card-text {
    color: #34495e;
}

/* Estilos para el contenido del modal */
main section#tema-1 .modal-body {
    color: #393939; /* Color de texto metálico negro */
}

/* Estilos para los títulos dentro del modal */
main section#tema-1 .modal-body h6 {
    color: #3498db; /* Color del título más atractivo */
}

/* Estilo para el párrafo dentro del modal */
main section#tema-1 .modal-body p {
    color: #2d2c2c; /* Color de texto metálico negro */
    margin-bottom: 15px;
}

/* Estilos para el botón de cerrar dentro del modal */
main section#tema-1 .modal-body .btn-secondary {
    background-color: #165e8e; /* Fondo del botón */
    color: #474242; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

main section#tema-1 .modal-body .btn-secondary:hover {
    background-color: #2076a8; /* Cambia el color de fondo al pasar el mouse */
}


/* Estilos para el botón */
#descargarPDF {
    background-color: #008080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  
  #descargarPDF:hover {
    background-color: #006666;
  } 
/* Estilos para el reloj digital en la barra de navegación */
#reloj {
    font-size: 18px;
    color: #fff;
    padding: 10px;
} 